@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--main-font: 'Roboto', sans-serif;

	--main-color-1: #4353FF;
	--shadow: rgba(0, 0, 0, 0.25);
	--card-title: rgba(67, 83, 255, 0.7);
	--card-description: #CCCCCC;
	--card-tag: #D2D2D2;
	--card-date: #D3D3D3;

	--text-color-1: #fff;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 100%;
	min-height: 100vh;
}

.container {
	max-width: 1240px;
	min-height: inherit;
	width: 100%;
	margin: 0 auto;
}

.row, .column {
	min-height: inherit;
	height: inherit;
	display: flex;
}

.row {
	flex-direction: row;
}

.column {
	flex-direction: column;
}

.row_jc-c, .column_jc-c {
	justify-content: center;
}

.row_jc-sb, .column_jc-sb {
	justify-content: space-between;
}

.row_ai-c, .column_ai-c {
	align-items: center;
}