@import '../../../main.css';

.drag-and-drop__box {
	position: relative;
	width: 200px;
	height: 200px;
	border: 1px solid var(--input-border);
	border-radius: 5px;
	box-shadow: 0 0 20px var(--shadow);
	transition: .3s ease;
}

.drag {
	border-color: var(--main-color-1);
}

.drag-and-drop__box:after {
	content: url('./imgs/picture.png');
	position: absolute;
	width: 45px;
	height: auto;
	top: 40%;
	left: calc(50% - 22.5px);
	opacity: .7;
	transition: .3s ease;
} 

.drag:after {
	opacity: 1;
}