<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>post card</title>
	<link rel="stylesheet" href="post_card.css">
	<link rel="stylesheet" href="wave.css">
	<link rel="stylesheet" href="../buttons/buttons.css">
</head>
<body>
	<div class="wrapper">
		<div class="container">
			<div class="row row_ai-c row_jc-c">
			    <div class="post-card">
			    	<div class="wave-box">
			    		<div class="wave-box__bg">
			    			<img src="./imgs/bg.jpg" alt="post-preview">
			    		</div>
			    		<div class="wave-box__effect">
			    			<div class="wave-box__item">
			    				<img src="./imgs/wave1.png" alt="wave1">
			    			</div>
			    			<div class="wave-box__item">
			    				<img src="./imgs/wave2.png" alt="wave2">
			    			</div>
			    			<div class="wave-box__item">
			    				<img src="./imgs/wave1.png" alt="wave3">
			    			</div>
			    		</div>
			    	</div>
			    	<div class="post-description">
			    		<div class="column">
				    		<h3 class="post-description__title">Title of post</h3>
				    		<p class="post-description__text">
				    			description description description description description description description description description description description...
				    		</p>
				    		<div class="row">
				    			<div class="tag">React</div>
				    			<div class="tag">JavaScript</div>
				    			<div class="tag">CSS</div>
				    			<div class="tag">react-router</div>
				    		</div>
				    		<div class="post-card__bottom">
					    		<div class="row row_jc-sb row_ai-c">
					    			<div>
					    				<button class="button button_mod-1">
					    					Read
					    				</button>
					    			</div>
					    			<time class="date">
					    				25 Okt. 2020
					    			</time>
					    		</div>
				    		</div>
			    		</div>
			    	</div>
			    </div>
			</div>
		</div>
	</div>	
</body>
</html>