@keyframes move {
	from {
		transform: translate(0);
	} 
	to {
		transform: translate(-316.5px);
	}
}

@keyframes move2 {
	from {
		transform: translate(-316.5px);
	} 
	to {
		transform: translate(0);
	}
}

.wave-box {
	position: relative;
	min-height: 200px;
	width: 100%;
	overflow: hidden;
}

.wave-box__bg {
	position: absolute;
}


.wave-box__item {
	position: absolute;
	width: 632px;
	top: 100%;
	transition: .3s ease-in-out;
}

.wave-box__item:nth-child(1) {
	bottom: -35px;
	animation: move 8s linear  infinite;
}

.wave-box__item:nth-child(2) {
	opacity: .7;
	animation: move2 5s linear infinite;
}
.wave-box__item:nth-child(3) {
	opacity: .5;
	animation: move 10s 1s linear infinite;
}

.post-card:hover .wave-box__item:nth-child(1) {
	top: calc(100% - 30px);
}

.post-card:hover .wave-box__item:nth-child(2) {
	top: calc(100% - 30px);

}

.post-card:hover .wave-box__item:nth-child(3) {
	top: calc(100% - 35px);
}