<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Form componets</title>
	<link rel="stylesheet" href="form_components.css">
</head>
<body>
	<div class="wrapper">
		<div class="column column_jc-c column_ai-c">
			<div class="input-box">
				<label for="name" class="row row_ai-c">
					First name
				</label>
				<input type="text" class="input" name="name" required="">
			</div>
			<div class="input-box">
				<label for="name" class="row row_ai-c">
					Last name
				</label>
				<input type="text" class="input" name="name">
			</div>
			<textarea class="textarea" cols="30" rows="5" placeholder="Bio"></textarea>
		</div>
	</div>
</body>
</html>