
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Protfolio card</title>
	<link rel="stylesheet" href="portfolio_card.css">
</head>
<body>
	<div class="wrapper">
		<div class="container">
			<div class="row row_ai-c row_jc-c">
				<div class="portfolio-card">
					<div class="portfolio-card__bg">
						<img src="./imgs/bg.png" alt="bg">
					</div>
					<div class="portfolio-card__description">
						<div class="column">
							<h2 class="portfolio-card__title">
								Title
							</h2>
							<p class="portfolio-card__text">
								Description description description
                                description description description
                                description description description
                                description.
							</p>
							<div class="row">
								<a href="#" class="portfolio-card__link">
									<img src="./imgs/github.png" alt="github">
								</a>
								<a href="#" class="portfolio-card__link">
									<img src="./imgs/link.png" alt="link">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>